services:
  db:
    image: postgres:16
    container_name: projeto-banquinho-bd
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - projeto-banquinho-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

  prisma-migrate:
    build:
      context: ./db-schema
      dockerfile: Dockerfile
    container_name: projeto-banquinho-prisma
    depends_on:
      db:
        condition: service_healthy
    environment:
        DATABASE_URL: ${DATABASE_URL}
    restart: "no"

  seeder:
    build:
      context: .
      dockerfile: Dockerfile.seeder
    container_name: projeto-banquinho-seeder
    depends_on:
      prisma-migrate:
        condition: service_completed_successfully
    environment:
        SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
        SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
        SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
        SPRING_JPA_HIBERNATE_DDL_AUTO: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
    restart: "no"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: projeto-banquinho-backend
    depends_on:
      prisma-migrate:
        condition: service_completed_successfully
    environment:
        SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
        SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
        SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
        SPRING_JPA_HIBERNATE_DDL_AUTO: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
    ports:
      - "8080:8080"
    restart: unless-stopped

volumes:
  projeto-banquinho-data: